* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}


.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /* //color: transparent;
  //background-color: white;
  //background-clip: text; */
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}


body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background:linear-gradient(90deg, rgba(255,185,182) 30%, rgba(255,230,212) 93%);
}
.draw{
  flex: 1;
}

.food-section{
  position: relative;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.food-cards{
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  column-gap:30px;
  row-gap: 50px;
  align-items: center;
  justify-items: center;
}
.food-1{
  background-color:#ed6f86;
  min-width:200px;
  min-height: 300px;
  max-width: 500px;
  padding: 10px;
}
.food-2{
  background-color:#ed6f86;
  min-width: 200px;
  min-height: 300px;
  max-width: 500px;
  padding: 10px;
}
.food-3{
  background-color:#ed6f86;
  min-width: 200px;
  min-height: 300px;
  max-width: 500px;
  padding: 10px;
}
.food-4{
  background-color:#ed6f86;
  min-width: 200px;
  min-height: 300px;
  max-width: 500px;
  padding: 10px;
}
.fcard{
  border-radius: 10px;
  transition: all 0.3s linear;

}
.image{
  flex: 1;
  text-align: center;
}
.info{
  flex:1;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.text h2{
  margin-bottom: 10px;
}
@media (max-width:756px){
  .food-section{
    grid-template-columns: 1fr;
  }
  .draw{
    position: relative;
    bottom: 0;
  }
}

@media (max-width:540px){
  .food-cards{
    grid-template-columns: 1fr;
  }
  .content{
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width:892px){
  .text h2{
    margin-bottom: 0px;
  }
}
.food-1:hover{
  transform: scale(1.05);
}
.food-2:hover{
  transform: scale(1.05);
}
.food-3:hover{
  transform: scale(1.05);
}
.food-4:hover{
  transform: scale(1.05);
}



@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}